// header
@import "mixins";

header {
  margin-top: 5vh;
}
.logo {
  display: flex;
  align-items: center;
}

h1 {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 10px;
  white-space: nowrap;
  @include adaptive-font(22, 14);
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
}

.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.navbar__item {
  font-family: Inter;
  @include adaptive-font(16, 10);
  margin-left: 20px;
  transition: 0.3s;
  a {
    text-decoration: none;
    white-space: nowrap;
    color: black;
  }
}

.navbar__item:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: min-content;
    position: absolute;
    right: 0;
    height: 30vh;
    top: 150px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    transform: translateX(120%);
    opacity: 0;
    transition: 0.8s;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: -20px 20px 20px rgba(255, 255, 255, 0.9);
  }
  .navbar__item {
    margin: 0;
    font-size: 20px;
  }
}
.nav-active {
  opacity: 1;
  transform: translateX(0%);
}
