*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 150px;
}

@media (max-width: 576px) {
  .section {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    margin-top: 75px;
  }
}

@media (max-width: 992px) {
  .section {
    margin-top: 100px;
  }
}

.close {
  display: none;
}

.show {
  display: block;
}

.yellow_underline {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #ffd042), color-stop(50%, white));
  background: linear-gradient(0deg, #ffd042 50%, white 50%);
}

.title {
  font-size: 30px;
  line-height: 45px;
  text-align: center;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 576px) {
  .title {
    font-size: 20px;
    line-height: 30px;
  }
}

.sub-title {
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #72787d;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .sub-title {
    font-size: 16px;
    line-height: 28px;
  }
}

@media (max-width: 576px) {
  .sub-title {
    font-size: 14px;
    line-height: 25px;
  }
}

.line {
  max-width: 1088px;
  height: 1px;
  background: #eef2f3;
  margin-top: 60px;
  margin-bottom: 60px;
}

.mt-50 {
  margin-top: 50px;
}

.columns-one-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.columns-one-block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 350px;
  margin: 20px;
}

.item-title {
  font-size: 18px;
  line-height: 24px;
  white-space: nowrap;
  margin-top: 20px;
}

.item-text {
  font-size: 16px;
  line-height: 24px;
  color: #72787d;
  margin-top: 20px;
}

@media (max-width: 576px) {
  .item-title {
    font-size: 14px;
    line-height: 20px;
  }
  .item-text {
    font-size: 12px;
    line-height: 18px;
    white-space: wrap;
  }
}

.btn-detail {
  width: 140px;
  height: 35px;
  background: white;
  border: 1px solid #dadedf;
  border-radius: 4px;
  color: black;
  white-space: nowrap;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-detail:hover {
  background-color: black;
  color: white;
}

.btn-order {
  width: 140px;
  height: 35px;
  background: black;
  border: 1px solid #212b31;
  -webkit-box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.16);
  border-radius: 4px;
  color: white;
  white-space: nowrap;
  margin: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn-order:hover {
  background-color: white;
  color: black;
}

header {
  margin-top: 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.navigation__item {
  font-family: Inter;
  font-size: 16px;
  line-height: 19px;
  margin-left: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navigation__item a {
  text-decoration: none;
  white-space: nowrap;
}

.navigation__item:first-child {
  margin-left: 0;
}

.navigation__item:hover {
  text-decoration: underline;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 10px;
  white-space: nowrap;
}

@media (max-width: 992px) {
  nav {
    display: none;
  }
}
/*# sourceMappingURL=header.css.map */