@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $pcSize + $mobSize * 0.7;
  @media (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{1440})
    );
  }
  @media (min-width: 768px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{1440}));
  }
  @media (min-width: #{1440 + px}) {
    font-size: #{$pcSize + px};
  }
}
