// section1:
// Smart delivery
@import "mixins";

h3 {
  font-family: Inter;
  text-decoration: none;
  font-weight: 400;
  @include adaptive-font(50, 20);
  text-align: center;
  line-height: 1.2em;
  display: block;
  max-width: 818px;
}

.btns__conatanier {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.main-img {
  margin: 0 auto;
  margin-top: 50px;
  img {
    max-width: 100%;
  }
}
.cars-img {
  margin: 0 auto;
  margin-top: 30px;
  img {
    max-width: 100%;
  }
}
