body {
  color: #212b31;
  // line-height: 1em;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  margin: 0 auto;
}
.buttons-wrap {
  max-width: 300px;
  margin: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 690px) {
  .buttons-wrap {
    margin: 20px;
  }
}

.content-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 2vw;
  font-family: "Inter", sans-serif;
}
@media (max-width: 690px) {
}

@import "mixins";
@import "modal";
@import "templates";
@import "burger";
@import "header";
@import "smartDelivery-section1";
@import "control-section3";
@import "brands-section4";
@import "descriptions-section5";
@import "delivery-section6";
@import "reliability-section7";
@import "application-section8";
@import "working-section9";
@import "choose-section10";
@import "awards-section11";

.ready__container {
  max-width: 1056px;
  background-image: url("../img/bg-ready.png");
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ready__text {
}

/////////////////////////////
.footer__top {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 20px;
  p {
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.footer-menu__item {
  margin: 20px;
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  a {
    margin-left: -15px;
  }
}
address {
  padding: 20px;
  font-size: 15px;
}
