@import "mixins";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}
// all styles for sections
.section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}
@media (max-width: 576px) {
  .section {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .section {
    margin-top: 75px;
  }
}

@media (max-width: 992px) {
  .section {
    margin-top: 100px;
  }
}

.close {
  display: none;
}

.show {
  display: block;
}
.yellow_underline {
  width: fit-content;
  white-space: nowrap;

  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 208, 66, 1) 50%,
    rgba(255, 255, 255, 1) 50%
  );
}
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////  text  ////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
.title {
  text-decoration: none;
  @include adaptive-font(30, 20);
  text-align: center;
  font-weight: 500;
  line-height: 1.5em;
  text-align: center;
}

.sub-title {
  @include adaptive-font(20, 12);
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  color: #72787d;
  max-width: 50%;
}

.text {
  @include adaptive-font(20, 12);
  line-height: 1.5em;
  text-align: center;
  font-weight: 400;
  max-width: 70%;
}

.item-title {
  @include adaptive-font(18, 10);
  line-height: 1.5em;
  white-space: nowrap;
}
.item-text {
  @include adaptive-font(16, 8);
  line-height: 1.5em;
  color: #72787d;
}
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
// line
hr {
  height: 1px;
  background: #484848;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}
.mt-20 {
  margin-top: 20px;
}

///////////////////////////////////////////////////
///////////////////////////////////////////////////
//  three columns in one block - columns-one-block//
///////////////////////////////////////////////////
///////////////////////////////////////////////////
.columns-one-block__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.columns-one-block__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 350px;
  margin: 10px;
  text-align: center;
}
.columns-one-block__img {
}

///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////

///////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////////// Buttons///////////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////
.btn-detail {
  padding: 10px;
  background: white;
  border: 1px solid #dadedf;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: black;
  white-space: nowrap;
  margin: 10px;
  @include adaptive-font(14, 10);
  font-weight: 400;
  transition: 0.3s;
}
.btn-detail:hover {
  background-color: black;
  color: white;
}

.btn-order {
  padding: 10px;
  background: black;
  border: 1px solid #212b31;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  white-space: nowrap;
  margin: 10px;
  @include adaptive-font(14, 10);
  font-weight: 400;
  transition: 0.3s;
}
.btn-order:hover {
  background-color: white;
  color: black;
}
